QuoteService/WebContent/wsdl/Readfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://quotes.ap.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://quotes.ap.edu" xmlns:intf="http://quotes.ap.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://quotes.ap.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getQuotes">
    <complexType>
     <sequence>
      <element name="word" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuotesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getQuotesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllQuotes">
    <complexType/>
   </element>
   <element name="getAllQuotesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllQuotesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuotesRequest">

      <wsdl:part element="impl:getQuotes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllQuotesRequest">

      <wsdl:part element="impl:getAllQuotes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllQuotesResponse">

      <wsdl:part element="impl:getAllQuotesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuotesResponse">

      <wsdl:part element="impl:getQuotesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Readfile">

      <wsdl:operation name="getQuotes">

         <wsdl:input message="impl:getQuotesRequest" name="getQuotesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuotesResponse" name="getQuotesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllQuotes">

         <wsdl:input message="impl:getAllQuotesRequest" name="getAllQuotesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllQuotesResponse" name="getAllQuotesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReadfileSoapBinding" type="impl:Readfile">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuotes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuotesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuotesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllQuotes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllQuotesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllQuotesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReadfileService">

      <wsdl:port binding="impl:ReadfileSoapBinding" name="Readfile">

         <wsdlsoap:address location="http://localhost:8080/QuoteService/services/Readfile"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
